* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

/* Common input styles */
.form-section {
  padding: 0 2rem;
}
.form-row {
  display: flex;
  width: 100%;
  padding: 1rem 0 0 0;
}
.form-group {
  background-color: var(--secondary-white);
  margin: 2rem;
  padding: 1rem 0;
  border-radius: 15px;
}

.form-group .form-row {
  padding: 2rem 0 0 0;
}

.form-group .radio-label {
  margin-bottom: 1rem !important;
}

.form-group textarea,
.form-group input[type="text"],
select,
option {
  background-color: transparent;
}
.user-input {
  margin: 0 2rem;
}
.row-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.row-input input[type="text"] {
  width: 250px;
}
.form-row * {
  flex: 1;
}
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}
input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}
select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}
select:focus {
  border-color: #007bff;
  outline: none;
}
.field-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  color: #333;
}

.action-button {
  background-color: var(--primary-blue);
  border: none;
  padding: 15px 30px;
  color: var(--primary-white);
  margin: 4rem;
  float: right;
}

input[type="date"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="radio"] {
  margin-right: 10px;
}
.radio-input {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 50%;
}

input[type="date"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  outline: none;
}

input[type="date"]:hover {
  border-color: #007bff;
}

textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
  overflow: auto;
}

textarea:hover,
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  outline: none;
}

.radio-label {
  margin-bottom: 2rem !important;
}

input[type="checkbox"] {
  margin-right: 7px;
}
.check {
  margin-right: 2rem;
}

.section-title {
  padding: 2rem 0 0 2rem;
  font-weight: bold;
}

.toggle-table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}
.toggle-table tr {
  width: 100%;
}
.toggle-table tr td {
  padding: 8px;
  white-space: nowrap; /* Prevents text from wrapping */
  width: auto;
}
.user-toggle {
  display: flex;
  width: 100%;
}
.user-toggle .field-label {
  cursor: pointer;
}

.toggle-container {
  position: relative;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 70px;
  height: 30px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  transition: background-color 0.3s;
}

.toggle-switch {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-text {
  position: absolute;
  font-size: 14px;
  color: #fff;
  transition: opacity 0.3s;
}

.toggle-text.on {
  left: 10px;
  opacity: 0;
}

.toggle-text.off {
  right: 10px;
  opacity: 1;
}

.toggle-input:checked + .toggle-label {
  background-color: var(--primary-blue);
}

.toggle-input:checked + .toggle-label .toggle-switch {
  transform: translateX(40px);
}

.toggle-input:checked + .toggle-label .toggle-text.on {
  opacity: 1;
}

.toggle-input:checked + .toggle-label .toggle-text.off {
  opacity: 0;
}
/* Common input styles ends here */

/* Test Data Styling */

.TestDataSection2 {
  padding: 1rem 4rem;
}
.TestDataSection2 .section-info {
  display: flex;
  width: 100%;
  /* justify-content: space-around; */
  flex-direction: row;
  gap: 25px;
}
.TestDataSection2 .section-info .data {
  height: auto;
  flex: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.TestDataSection2 .section-info .count {
  background-color: var(--primary-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  padding: 2rem;
  border-radius: 25px;
  color: var(--primary-white);
}
.count .count-no {
  font-weight: 600;
  font-size: 2rem;
}
.count .info {
  font-size: 12px;
  text-align: center;
}

.section-info .box:nth-child(2),
.box:nth-child(3) {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-white);
  border-radius: 25px;
  padding: 25px;
}

.section-info .box tr td {
  font-weight: bold;
  font-size: 18px;
}

.section .box table td {
  padding: 2.5px 20px;
  border-radius: 15px;
}

table.steps {
  width: 100%;
}
table.steps tr td.success {
  background-color: #d6f7d8;
}
table.steps tr td.failure {
  background-color: #d46172;
}

.test-status button {
  width: 100%;
  padding: 7px 15px;
  margin: 10px 0;
  border: none;
  flex: 1;
}

.start {
  background-color: green;
  color: var(--primary-white);
}
.pause {
  background-color: rgb(255, 16, 16);
  color: var(--primary-white);
}
.restart {
  background-color: var(--primary-blue);
  color: var(--secondary-white);
}

.steps {
  margin: 35px 0;
  border-collapse: separate; /* Ensure cells have separate borders */
  border-spacing: 10px; /* Adjust the spacing between cells */
}
.transmission-label{
  text-align: left;
  width: 50%;
  margin:5px;
}
.automation-step {
  padding: 15px;
  background-color: var(--secondary-white);
  margin: 15px 0;
  font-size: 14px;
  border-radius:10px;
}
.download-report {
  padding: 15px 30px;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  margin: 2rem;
}
.report-download:disabled,
button:disabled {
  background-color: var(--secondary-white);
  color: var(--dark-grey);
}
/* Test Data Styling ends here */

/* Modal Styling */

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000041;
  z-index: 999;
}
.modal {
  height: 300px;
  background-color: var(--primary-white);
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal .message {
  background-color: var(--primary-blue);
  width: 100%;
  color: var(--primary-white);
  text-align: center;
  padding: 1rem;
}
.modal .info {
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  overflow-y: auto;
}
.modal .actions {
  padding: 1rem 0;
}
.modal .actions button {
  padding: 10px 30px;
}
/* Modal Styling CSS ends here */

.resume-button {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  margin-left: 15px;
}

.error-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.error-item {
  background-color: #ffcccc;
  color: #b30000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 100%;
  text-align: left;
}
.success-container {
  margin: 2rem;
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #e6ffe6; /* Light green background */
  color: #006600; /* Dark green text */
  border: 1px solid #b3ffb3; /* Border to complement the background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: left;
  line-height: 1.4;
}

.start-test {
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: bold;
}
.start-test .start {
  padding: 10px 25px;
  border: none;
  margin: 0.5rem 2rem;
}

.test-mode {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.test-mode button{
  border-radius: 10px;
}
.test-status {
  width: 100%;
}
.automatic-transmission,
.manual-transmission {
  display: flex;
  width: 100%;
  gap: 2rem;
}
.raise,
.lower {
  background-color: var(--primary-blue) !important;
  color: var(--primary-white) !important;
}





.nav-item {
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34495e;
  margin-bottom: 5px;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.dropdown-toggle {
  font-size: 12px;
}

.dropdown-menu {
  background-color: #34495e;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}



.dropdown-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.raise:disabled, .lower:disabled{
  background-color: var(--secondary-white) !important;
  color: var(--dark-grey) !important;
}
/* .lower{
  background-color: #B10007 !important;

} */

button{
  cursor: pointer !important;
}