:root {
  --primary-blue: #273951;
  --primary-white: #ffffff;
  --secondary-white: #f9f9f9;
  --primary-grey: #818181;
  --dark-grey: #656565;
  --primary-black : #000000;

  --secondary-white: #f3f3f3;
}
